body, html{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

*{
    border: 1px solid red;
}

nav{
    background-color: white;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.4);
    padding-left: 80px;
    padding-right: 80px;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    border-bottom: 2px solid #f53163;
}

header .container{
    align-self: center;
    margin-left: 60px;
}

header .container p,h1{
    color: #f53163;
}

header .container h1{
    font-size: 2.5rem;    
}

header img{
    width: 400px;
    height: 390px;
    object-fit: cover;
    margin-left: 70px;
}

.about-container{
    background-image: url(./images/about-bg.jpg);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
    padding-right: 60px;
}

.about-container img{
    width: 100px;
    height: 100px;
}

.about{
    background-color: white;
}